<%include header%>
<div class="slide-1"></div>
<div class="overlay"></div>
<div class="hero">
<hgroup>
    <h1>YOU ARE THE NEXT!</h1>       
</hgroup>
<a href="/zombie" button class="btn btn-hero btn-lg" role="button">Zombies</button>
<a href="/weapons" button class="btn btn-hero btn-lg" role="button">Weapons</button>
<a href="/victims" button class="btn btn-hero btn-lg" role="button">Victims</button>
<a href="/victims2" button class="btn btn-hero btn-lg" role="button">Survivors</button>
<a href="/register" button class="btn btn-hero btn-lg" role="button">Register</button>
</a>
</div>


<%include footer%>