<%include header3%>
<div class="slide-1">
<div class="overlay"></div>
<div class="hero">
<hgroup>
    <h1>YOU ARE THE NEXT!</h1>        
</hgroup>
<a href="/" button class="btn btn-hero btn-lg" role="button">Home</button>
<a href="/weapons" button class="btn btn-hero btn-lg" role="button">Weapons</button>
<a href="/victims"button class="btn btn-hero btn-lg" role="button">Victims</button>
<a href="/victims2" button class="btn btn-hero btn-lg" role="button">Survivors</button>
</a>


</div>
<div class="card" style="margin-top:1rem;">
<div class="card-body">
    <h1 style="text-align:center; margin-bottom:1rem;">Agregar nueva victima</h1>
    <form method="post" role="form">
        <div class="input-group input-group-lg" style="margin-bottom:1rem;">
            <span for="nombre" class="input-group-addon" id="sizing-addon1">Nombre &nbsp;</span>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la victima" aria-label="Username" aria-describedby="sizing-addon1" /required>
        </div>
        <div class="input-group input-group-lg" style="margin-bottom:1rem;">
            <span for="direccion"class="input-group-addon" id="sizing-addon1">Dirección</span>
            <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección" aria-label="Username" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg" style="margin-bottom:1rem;">
            <span for="tel" class="input-group-addon" id="sizing-addon1">Teléfono &nbsp;</span>
            <input type="text" class="form-control" id="tel" name="tel" placeholder="Teléfono" aria-label="Username" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg" style="margin-bottom:1rem;">
            <span for="instagram"class="input-group-addon" id="sizing-addon1">Instagram</span>
            <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Instagram" aria-label="Username" aria-describedby="sizing-addon1">
        </div>
        <button type="submit" class="btn btn-primary" value="aceptar">Aceptar</button>
      </form>
</div>
</div>
<%include footer%>