<%include header3%>
<div class="slide-1">
<div class="overlay"></div>
<div class="hero">
<hgroup>
    <h1>YOU ARE THE NEXT!</h1>        
</hgroup>
<a href="/" button class="btn btn-hero btn-lg" role="button">Home</button></a>
<a href="/zombie" button class="btn btn-hero btn-lg" role="button">Zombies</button>
<a href="/weapons"button class="btn btn-hero btn-lg" role="button">Weapons</button>
<a href="/register" button class="btn btn-hero btn-lg" role="button">Register</button>
<a href="/victims2" button class="btn btn-hero btn-lg" role="button">Survivors</button>

</a>


</div>
<TABLE class="tabla" border="1"  bordercolor="red">
	<TR>
		<TD>Meg Thomas<img class="imge" src="https://d1u5p3l4wpay3k.cloudfront.net/deadbydaylight_gamepedia_en/0/0d/MT_charPreview_portrait.png?version=066722b6778b439424b2e97356c1d5d8"/> </TD><TD>Feng Mingh <img class="imge" src="https://d1u5p3l4wpay3k.cloudfront.net/deadbydaylight_gamepedia_en/5/52/FM_charPreview_portrait.png?version=57aeeb1210e7a1975890add0fad90c0d"/></TD> <TD>Bill<img class="imge" src="https://d1u5p3l4wpay3k.cloudfront.net/deadbydaylight_gamepedia_en/7/79/BO_charPreview_portrait.png?version=cf0a9e10626c3db12ddf377c7248d9ef" /></TD>
	</TR>
	<TR>
		<TD>Claudette<img class="imge" src="https://d1u5p3l4wpay3k.cloudfront.net/deadbydaylight_gamepedia_en/7/7f/CM_charPreview_portrait.png?version=3f636a15b83d481c3c5500918740ed27"/> </TD> <TD>Laurie<img class="imge" src="https://d1u5p3l4wpay3k.cloudfront.net/deadbydaylight_gamepedia_en/8/83/LS_charPreview_portrait.png?version=fd4d86d0eacb3c703f31bc45e305f4bd"/></TD> <TD>David Tapp<img class="imge" src="https://d1u5p3l4wpay3k.cloudfront.net/deadbydaylight_gamepedia_en/2/2d/FS_charPreview_portrait.png?version=a0448f71e49a8f1fd15eda6d831bd7f8"/></TD>
	</TR>
</TABLE>

<%include footer%>