<%include header2%>
<div class="slide-1">
<div class="overlay"></div>
<div class="hero">
<hgroup>
    <h1>YOU ARE THE NEXT!</h1>        
</hgroup>
<a href="/" button class="btn btn-hero btn-lg" role="button">Home</button></a>
<a href="/zombie" button class="btn btn-hero btn-lg" role="button">Zombies</button>
<a href="/victims"button class="btn btn-hero btn-lg" role="button">Victims</button>
<a href="/register" button class="btn btn-hero btn-lg" role="button">Register</button>
<a href="/victims2" button class="btn btn-hero btn-lg" role="button">Survivors</button>

</a>


</div>
<TABLE class="tabla" border="1"  bordercolor="red">
	<TR>
		<TD>Haches<img class="imge" src="https://vignette.wikia.nocookie.net/gearsofwar/images/6/62/HachaCarnicero.png/revision/latest?cb=20110609210727&path-prefix=es"/> </TD><TD>Bowie Knief<img class="imge" src="https://i.pinimg.com/originals/4a/f7/3f/4af73fed698b3188d262a823f154fe30.jpg"/></TD> <TD>Shears<img class="imge" src="https://i.pinimg.com/originals/73/7f/2d/737f2dcad3943368ee4fbb0f2d27ffb7.jpg" /></TD>
	</TR>
	<TR>
		<TD>Saw<img class="imge" src="https://vignette.wikia.nocookie.net/outlast/images/1/12/Frank%27s_Saw.png/revision/latest?cb=20140816180406"/> </TD> <TD>TomaHawks<img class="imge" src="https://i.ytimg.com/vi/2u2BEAxn434/hqdefault.jpg"/></TD> <TD>Hammers<img class="imge" src="https://steamuserimages-a.akamaihd.net/ugc/100602422408678488/7CFCE5F6C7B882A44DE9D2F5AB60598ECE65598F/?interpolation=lanczos-none&output-format=jpeg&output-quality=95&fit=inside%7C637%3A358&composite-to=*,*%7C637%3A358&background-color=black"/></TD>
	</TR>
</TABLE>

<%include footer%>