<%include header2%>
<div class="slide-1">
<div class="overlay"></div>
<div class="hero">
<hgroup>
    <h1>YOU ARE THE NEXT!</h1>        
</hgroup>
<a href="/" button class="btn btn-hero btn-lg" role="button">Home</button>
<a href="/weapons" button class="btn btn-hero btn-lg" role="button">Weapons</button>
<a href="/victims"button class="btn btn-hero btn-lg" role="button">Victims</button>
<a href="/victims2" button class="btn btn-hero btn-lg" role="button">Survivors</button>
<a href="/register" button class="btn btn-hero btn-lg" role="button">Register</button>
</a>


</div>
<TABLE class="tabla" border="1"  bordercolor="red">
	<TR>
		<TD>Death<img class="imge" src="https://vignette.wikia.nocookie.net/houseofthedead/images/3/33/HoTDIII_Death.jpeg/revision/latest/scale-to-width-down/350?cb=20170225072807"/> </TD><TD>Sun <img class="imge" src="https://vignette.wikia.nocookie.net/houseofthedead/images/9/97/Sun.jpg/revision/latest?cb=20081230141704"/></TD> <TD>Fool<img class="imge" src="https://vignette.wikia.nocookie.net/houseofthedead/images/d/d2/Fool.jpg/revision/latest?cb=20081230141637"/></TD>
	</TR>
	<TR>
		<TD>Wheel Of Fate<img class="imge" src="https://vignette.wikia.nocookie.net/houseofthedead/images/a/ab/Wheel_of_Fate.jpeg/revision/latest/scale-to-width-down/350?cb=20170224153839"/> </TD> <TD>Rogan Commandos<img class="imge" src="https://vignette.wikia.nocookie.net/houseofthedead/images/9/9b/%E3%83%AD%E3%83%BC%E3%82%AC%E3%83%B3%E9%9A%8A%E9%9A%8A%E5%93%A1.png/revision/latest/scale-to-width-down/200?cb=20160304135531"/></TD> <TD>Mark ||<img class="imge" src="https://vignette.wikia.nocookie.net/houseofthedead/images/4/49/Mark_II.jpg/revision/latest/scale-to-width-down/200?cb=20090305235157"/></TD>
	</TR>
</TABLE>

<%include footer%>